header{
    background-color: rgb(243, 214, 174);
    <h1 style="color: brown;">HANKIKOIRA</h1> 
}
a {
    color:brown;
    text-decoration: none;
}
  a:hover {
    color: rgb(23, 96, 204);
  }
  
body {
background-color:blanchedalmond;
margin: 20px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p {
color: rgb(61, 60, 60);
font-size: larger;
margin-bottom: 20px;
border: cadetblue;
}
h1 {
    color:rgb(241, 107, 58);
}
h2 {
    color: brown;
}
img {
    border: 1px solid red;
}
footer{
    background-color: rgb(243, 214, 174); 
}